Ice.Default.Locator=IceGrid/Locator:tcp -h localhost -p 4061
IceStorm.TopicManager.Proxy=IceStorm/TopicManager:tcp -p 10000

<!-- FrontendAdapter.Endpoints=tcp -p 4163 -->
FrontendAdapter.Endpoints=tcp
FrontendAdapter.AdapterId=FrontendAdapter

FileManager.Proxy=filemanager1 -t -e 1.1 @ FileManagerAdapter

FileUpdatesAdapter.Endpoints=tcp
FileUpdatesAdapter.AdapterId=FileUpdatesAdapter

FrontendUpdatesAdapter.Endpoints=tcp
FrontendUpdatesAdapter.AdapterId=FrontendUpdatesAdapter

Ice.IPv6=0